<nav-page id="app-page">
  <!-- where the content of each page will be rendered -->
  <header class="bar bar-header bar-calm">
    <button class="button button-icon" ng-click="toggleSideMenu()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">chaffy</h1>
    <button class="button button-icon" ng-click="goToNewRoomDirect()"><i class="icon ion-plus"></i></button>
  </header>
  <content
    has-header="true"
    has-footer="true"
    has-tabs="true"
    scroll="true"
    padding="true"
    on-refresh="onRefresh()"
    animate-nav="true"
    >

    <!-- for pull to refresh -->
    <refresher pulling-text="Pull to refresh..."></refresher>
    <list>

      <!--
    | orderBy:'id':true |

    
      <link-item ng-repeat="room in rooms | orderBy:'id':true | limitTo:30 |  orderBy:distanceFromHere: false" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl">
--> 
<link-item ng-repeat="room in rooms | limitTo:30 | orderBy:actualDistanceFromHere:false" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl" ng-init="init(room)" ng-hide="{{distanceFromHere(room) > radius}}" ng-class="{'roomhot': room.isHot, 'roompopular': room.isPopular, 'roomactive': room.isActive}"> <!--
          <h3>{{room.title}}</h3>
          <p style="margin-left:10px;">{{actualDistanceFromHere(room)}} mi. ~ {{room.description}}</p>
          -->
          <h3>{{room.title}} <span style="opacity:0.8;">({{actualDistanceFromHere(room)}} mi.)</span> <span ng-show="room.isHot || room.isActive"><i class="icon ion-flame" style="font-size: 1.6rem; color: #43cee6; float: right;"></i></span></h3>
          <p style="font-size:0.8rem; font-style:italic; opacity:0.95;"><span style="font-weight:normal; font-style:normal; color:#43cee6; font-size:0.9rem; opacity:1.0; font-family:Pacifico;">{{room.created_by}}: </span> {{room.description}}</p>
          <p style="font-size:0.8rem;">
          <span style="color:#43cee6; font-size:0.75rem; float:left;">{{room.lastMessageTime | date: 'short'}}</span>
          <span style="margin-left:10px; font-style:italic; text-align:right; float:right; opacity: 1.0;">{{room.lastMessage}}</span>
          </p>
      </link-item>
    </list>
  </content>
</nav-page>