<nav-page id="app-page">
  <!-- where the content of each page will be rendered -->
  <header class="bar bar-header bar-calm">
    <button class="button button-icon" ng-click="toggleSideMenu()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">chaffy</h1>
    <button class="button button-icon" ng-click="goToNewRoomDirect()"><i class="icon ion-plus"></i></button>
  </header>
  <content
    has-header="true"
    has-footer="true"
    has-tabs="true"
    scroll="true"
    padding="true"
    on-refresh="onRefresh()"
    animate-nav="true"
    >

    <!-- for pull to refresh -->
    <refresher pulling-text="Pull to refresh..."></refresher>
    <list>

      <!-- original (before diff ordering scheme)
<link-item ng-repeat="room in rooms | orderBy:'id':true | limitTo:30 | orderBy:distanceFromHere: false" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl" ng-hide="{{distanceFromHere(room) > radius}}" ng-class="{'roomhot': roomHotness(room), 'roompopular': roomPopularity(room)}">
	-->
		
	<link-item ng-repeat="room in rooms | limitTo:30 | orderBy:'timeLastMsg':true" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl" ng-hide="{{distanceFromHere(room) > radius}}" ng-class="{'roomhot': roomHotness(room), 'roompopular': roomPopularity(room)}">
		
	<!--  <h3>{{room.title}}</h3>
          <p style="margin-left:10px;">{{actualDistanceFromHere(room)}} mi. ~ {{room.description}}</p>
          -->
          <h3>{{room.title}} ({{actualDistanceFromHere(room)}} mi.)</h3>
          <p style="font-size:0.8rem;">{{room.description}}</p>
          <p style="margin-left:10px; font-style:italic; text-align:right;">{{lastMessageAdded(room)}}</p>
      </link-item>
    </list>
  </content>
</nav-page>