
<nav-page id="app-page">
  <!-- where the content of each page will be rendered -->
  <header class="bar bar-header bar-calm">
    <button class="button button-icon" ng-click="toggleSideMenu()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">chaffy</h1>
    <button class="button button-icon" ng-click="goToNewRoomDirect()"><i class="icon ion-plus"></i></button>
  </header>
  <content
    has-header="true"
    has-footer="true"
    has-tabs="true"
    scroll="true"
    padding="true"
    on-refresh="onRefresh()"
    animate-nav="true"
    >

    <!-- for pull to refresh-->
    <refresher pulling-text="Pull to refresh..."></refresher>
	  
    <list>
			<!-- orderBy:['-timeLastMsg', distanceFromHere] -->
<!--
<link-item ng-repeat="room in rooms | limitTo:30 | orderBy:['-timeLastMsg']" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl" ng-show="{{userHasRoom(room)}}" ng-class="{'roomhot': roomHotness(room), 'roompopular': roomPopularity(room)}" can-delete="true" can-swipe="true" can-reorder="true">-->

<link-item ng-repeat="room in rooms | limitTo:30 | orderBy:['-timeLastMsg']" type="item-text-wrap" ng-click="goToIt('#/rooms/{{room.id}}');" style="z-index:50000" ng-controller="MainCtrl" ng-show="{{userHasRoom(room)}}" ng-class="{'roomhot': roomHotness(room), 'roompopular': roomPopularity(room)}">
          <h3>{{room.title}} ({{actualDistanceFromHere(room)}} mi.) </h3>
          <p style="font-style:italic">{{room.description}}</p>
          <p style="margin-left:10px;" class="text-right">{{lastMessageAdded(room)}}</p>
</link-item>
      

    </list>
  </content>
</nav-page>