#splash-page {
  background-color: white;
}

#bar-footer-message-box {
  height: initial;  
}

#bar-footer-message-box .list {
  width: 100%;
}

.item-message {
  background-color: #FDCFF5;
  border-radius: 3px;
}

.item-message-header {
  font-style: italic;
}

.item-message-body {
  padding: 0px 10px 15px 18px; 
}

/**
.item-message-body:nth-last-child(1) {
  bottom: 250px;
}
**/

.bar.bar-calm{
  /**
	background-color:#FE642E;
	border-color: #c5376d;
  **/
	background-image:linear-gradient(0deg, #c5376d, #c5376d 50%, transparent 50%)
}

.list .item:nth-child(odd){
  /**background-color:#FFDC96;**/
  background-color: #333333 !important;
  color: white !important;
  opacity: 1;
}

.list .item:nth-child(odd) h3{
  color: white;
  
}

.list .item:nth-child(odd) p{
  color: white;
  opacity: 0.65;
}

.list .item:nth-child(odd) .item-content{
  color: rgba(0,0,0,0.75); !important;
}


.create-convo.list .item:nth-child(odd){
  background-color: white !important;
}

.list .item {
  border: 0px;
  border-radius: 3px;
  margin-bottom: 4px;
  opacity: 0.9;
}

.list .item h3{
  font-weight: bold;
  opacity: 0.87;
}

#mainScroll .message-even{
  width: 90%;
  float: left;
  margin: 10px 5px;
}

#mainScroll .message-odd{
  background-color: rgba(0,0,0,0.70);
  color: white;
  width: 90%;
  float: right;
  margin: 10px 5px;
}

#msgLabel {
  background-color: #ebebeb !important;
}

/**
.message-odd-body{
  text-align: right;
}
**/
.

.item-input{
  background-color: white !important;
  border: 1px solid white;
  border-radius: 5px;
}

input.convoInput{
  background-color: #EBE8E3;
  border-radius: 3px;
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'), url('../fonts/font.ttf') format('truetype');

}


.title{
	font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
}

#app-page{
  /** background-color:#FE642E **/
  background-color:#FAB133;
  opacity: 0.85;
}

