/** map **/

.angular-google-map-container{ 
	height: 275px;
	width: 275px;
  	border-radius: 15px;
  	border: 5px solid white;
  	margin: -5px auto;
}

#map-container {
	height: 288px;
	width: 300px;
	padding: 9px 0px;
	border-radius: 10px;
	margin: -5px auto;
	background-color: rgba(233, 225, 131, 0.6);
}

/** form **/

.padding .button-positive {
	background-color: orange;
}

.padding .button-positive:hover {
	background-color: #656565;
}

.padding .button-positive:active {
	background-color: #656565;
}


#launch-title {
	font-family: 'Lato', 'Pacifico', Arial, sans-serif;
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
}
/**
#username-bar {
	width: 100%;
	padding: 1px;
	border-radius: 0px;
	background-color: rgba(253, 225, 15, 0.7);
	background-color: rgba(0,0,0, 0.5);
}
**/
#userAlias {
	width: 100%;
	height: 45px;
	text-align: center;
	margin: 0 auto;
	font-family: 'Lato', 'Pacifico', Arial, sans-serif;
	/**
	background-color: white;
	border: 1px solid #D6D6D6;
	color: gray;
	**/

	background-color: rgba(164,164,164, 1);
	color: white;
}

#userAlias::-webkit-input-placeholder {
   color: white;
   opacity: 0.7;
}

.item-radio .item-content {
	padding-right: 15px;
	padding-top: 7px;
}

.form-bar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
}

.bar-gender-item {
	display:inline-block;
	width: 49%;
	border: 1px solid #dddddd !important;
	/** font-family: 'Pacifico', Arial, sans-serif; **/
	font-family: 'Lato', 'Pacifico', Arial, sans-serif;
	height: 45px;
}

.bar-gender-item:nth-last-child(1) {
	margin-bottom: 4px !important;
}

.list .item[id="radio-male"] {
	background-color: white;
}

/**
.list .item[id="radio-sec"] {
	background-color: white;
	font-family: 'Pacifico', 'Lato', Arial, sans-serif;
}

.list .item[id="radio-age-sec"] {
	background-color: white;
	font-family: 'Pacifico', 'Lato',  Arial, sans-serif;
}
**/
.item-radio input:checked ~ .item-content {
	background-color: #CD99F7 !important;
	opacity: 1.0;
	color: white !important;
}

#radio-male input:checked ~ .item-content {
	background-color: #4CDBF5 !important;
	opacity: 1.0;
	color: white !important;
}

#radio-fem input:checked ~ .item-content {
	background-color: #FF103C !important;
	opacity: 0.6;
	color: white;
}
/**
#radio-sec, #radio-age-sec {
	width: 15%;
}

#radio-sec input:checked ~ .item-content {
	background-color: #999999;
	opacity: 0.7;
	color: white;
}

#radio-age-sec input:checked ~ .item-content {
	background-color: #999999;
	opacity: 1;
	color: white !important;
}
**/
.bar-age-item {
	display:inline-block;
	width: 32%;
	border: 1px solid #dddddd !important;
	margin-top: -10px;
	height: 45px;
}

.bar-age-item .item-content{
	padding-top: 10px;
}

.bar-age-item:nth-last-child(1) {
	margin-bottom: 4px !important;
}

#radio-age-0 input:checked ~ .item-content{
	color: white !important;
	opacity: 1;
}

#radio-age-2 input:checked ~ .item-content{
	color: white !important;
	opacity: 1;
}

#launch-go {
	margin-top: -5px;
	background-color: #FF436C !important;
	opacity: 1.0 !important;
}



/**
.button-bar {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 10px;
}

.button-bar .button {
	border: 3px solid white;
	border-radius: 5px !important;	
}

.button-bar .button-m {
	background-color: #70E0F7;
	opacity: 0.6;
}

.button-bar .button-m:hover {
	background-color: #0076B5;
	opacity: 1;
}

.button-bar .button-m:active {
	background-color: #0076B5;
	opacity: 1;
}

.button-bar .button-f {
	background-color: #FF6183;
	opacity: 0.6;
}

.button-bar .button-f:hover {
	background-color: #FF2A78;
	opacity: 1;
}

.button-bar .button-f:active {
	background-color: #FF2A78;
	opacity: 1;
}

**/